@model WebUI.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>LogIn</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <p><input type="submit" value="Log in"/> </p>
}
