@using System.Collections.ObjectModel
@using System.Web.UI.WebControls
@using Domain
@model List<Domain.ProductCategory>

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>EditCategory</h2>

@using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post))
{
    @Html.DropDownList("Name", new SelectList(Model.Select(x => x.Name)))
    @Html.HiddenFor(x=>x.FirstOrDefault().ProductCategoryID)
    @Html.Hidden("productId",(int)ViewBag.ProductId)
    <input type="submit" value="save" />
}