@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Error</h1>
    </div>
    <br />
    <h1>@Html.ActionLink("Home", "List", "Product")</h1>
    ;
</body>
</html>
