@model WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Product";
}

@foreach (var p in Model.Products)
{
    <div class="item">
        <h3>@p.Name</h3>
        @p.Descriprion
        <h4>@p.Price</h4>
    </div>
}
